# ignore node modules
node_modules/

# ignore built server
build/

# ignore certificates folder
certs/

# ignore built client
public/static/build

# ignore local art files
docs/*.fla

# ignore local settings
settings.json