@font-face{
    font-family: "Electrolize";
    src: url("/fonts/Electrolize-Regular.ttf")
}

body{
    background: linear-gradient(180deg, darkred, black) fixed 100% 100%;
    margin: 0px;
    font-family: "Electrolize";
    font-size: 1em;
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

::selection{
    background-color: black;
    color: red;
}